<link rel="shortcut icon" href="">
<% include partials/header.ejs %>
<h1 class="centerAlignContent colorWhite">Welcome to YelpCamp
<br><br><br>
<a class="btn btn-primary btn-small" href="/campground">View all Campgrounds</a></h1>

<% include partials/footer.ejs %>